%tr{:"data-toggle"=> "collapse", :"data-target"=>"#details_{{id}}", :"data-row-feature-id" => "{{id}}"}
  %td
    %img{:id => "img{{id}}", :src => "{{image.small_thumb}}"}
    -#= best_in_place "{{f}}", :name, path: "/projects/{{project_id}}/update/feature/{{id}}", nil: 'Something'
    
    %span.best_in_place{:id => "best_in_place_project_feature_{{id}}_name", "data-attribute" => "name", "data-nil" => "Enter feature name here", "data-object" => "project_feature", "data-type" => "input", "data-url" => "/projects/{{project_id}}/update/feature/{{id}}"}
      {{name}}
    
  %td
    %span.best_in_place{:id => "best_in_place_project_feature_{{id}}_estimate","data-attribute" => "estimate", "data-nil" => "0", "data-object" => "project_feature", "data-type" => "input", "data-url" => "/projects/{{project_id}}/update/feature/{{id}}"}
      {{estimate}}
    
  %td{:style => 'text-align: right'}
    {{#has_comments}}
    %i.icon-comment{:style => 'opacity:0.8'}
    {{comments_count}}  
    {{/has_comments}}

    %button.btn.btn-mini.btn-danger.remove_feature_btn{:'data-feature-id' => "{{id}}"}
      Remove  

%tr{:"data-row-feature-id" => "{{id}}"}
  %td{:colspan => 3, :style => 'height: 0px; padding:0; margin: 0px; border-top: 0;'}
    %div.collapse.row-fluid{:id => "details_{{id}}"}         
      .row-fluid{:style => 'margin: 5px;'}
        .span9
          %h4 Description 
          .alert.alert-info
            %span.best_in_place{:id=> "best_in_place_project_feature_{{id}}_description", :"data-attribute" => "description", :"data-nil" => "Enter Description of this Task", :"data-object" => "project_feature", :"data-type" => "textarea", :"data-url" => "/projects/{{project_id}}/update/feature/{{id}}"} 
              {{description}}
        .span2
          %h4 Screenshot
          %a.lightbox{:href => "{{image.url}}", :title => "{{name}}"}
            %img{:id => "img_100_{{id}}", :src => "{{image.thumb}}"}
        
      .row-fluid{:style => 'margin: 5px;'}
        .span9.comments{:id => "comments_{{id}}"}
          %h4 Comments
          {{#comments}}
          .alert.alert-info
            {{comment}}
            %br
            %br
            %span.label 
              {{user_name}}, {{created_at}}
          {{/comments}}  
        
        .span9.btn-group{:style => 'margin:5px;'}
          %button.add_comment_btn.btn.btn-success.btn-mini{:'data-feature-id' => "{{id}}"}
            Add comment
          %button.add_image_btn.btn.btn-alert.btn-mini{:'data-feature-id' => "{{id}}"}
            Attach image    
