= image_tag 'glyphicons/glyphicons_043_group.png', class: 'bs-icon'
%h1 
  Team
  = @team.name

.row
  .span6
    %h2 Projects

    %table.table.table-striped
      - @team.projects.each do |project|
        %tr
          %td= link_to project.name, project

    = link_to 'New Project', new_project_path
    
  .span6
    %h2 Latest Features
  